/* Fixed sidebar */
#TEMPfixedSideBar { 
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 19%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */

    background-color: #2C2C2C;
}

aside {
    background-color: #2C2C2C;
    font-family: "Quicksand", Arial, sans-serif;
    height: 100vh;
    width: 19vw;
}

    aside h5 {
        font-weight: 700;
        letter-spacing: 2px;
    }

    nav ul li {
        list-style: none;
    }

        nav ul li a {
            color: rgba(255, 255, 255, 0.5);
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;
        }

        nav ul li a:after {
            content: "";
            position: absolute;
            height: 1px;
            bottom: 7px;
            left: 0;
            right: 0;
            background-color: #FFC300;
            visibility: hidden;
        }

        nav ul li a:hover {
            color: white;
        }

        nav ul li .active {
            color: #FFC300;
        }
        
        nav ul li .active:after {
            visibility: visible;
        }


#mainContent {
    background-color: red;
    /* height: 100vh; */
    width: 81vw;
}