/* ToDo:
    - Hele 'nav ul li a' delen. Har jeg helt styr på hvordan hover effekten fungerer?
    - Har jeg styr på transform, transition?
    - Har jeg styr på ::before, ::after, :hover, og behøver jeg så mange forskellige?
    - Hvad betyder a:hover:after? Hvorfor er det ikke det samme som a:after eller a:hover?
    - Kan det gøres smartere?


    - FaceBook, Twitter, Instagram, LinkedIN icons i bunden af footer
    
    - Comments i HTML. Og tjek om jeg har ligegyldige divs osv.
    - Del CSS ordenligt op evt. med comments (bare udseende og struktur)

    - Lav col- størrelser når man gør siden mindre!
    - Test på smartphone! (Specielt også height på figcaption i carousel)
*/

#fullPageContainer {
    /* Hides horizontal scroll bar */
    overflow-x: hidden;
}

#fullPageContainer .row {
    /* Gør at begge sidebars er lige store (aside og sideBarSpaceContainer) */
    margin: 0;
}

aside {
    background-color: #2C2C2C;
    font-family: "Quicksand", Arial, sans-serif;

    /* Fixed sidebar */
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

aside h5 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #FFC300;
    visibility: hidden;

    transform: scaleX(0);
    -webkit-transform: scaleX(0);

    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul li a:hover {
    color: white;
}

nav ul li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

nav ul li .active {
    color: #FFC300;
}

nav ul li .active:hover {
    color: #FFC300;
}

nav ul li .active::after {
    visibility: visible;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

footer {
    position: absolute;
    bottom: 40px;
    left: 0px;
}

footer small {
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.8rem;
}

footer small a {
    color: #FFC300;
}

footer small a:hover {
    color: #FFC300;
    text-decoration: none;
}

#icons {
    height: 27px;
}

#mainContent {

}

#mainCarousel {
    width: 100%;
}

/* Carousel Indicators/Buttons */
#mainCarousel ol {
    right: auto;
}

#mainCarousel ol li {
    height: 12px;
    width: 12px;
    color: rgba(255, 255, 255, 0.5);
}

#mainCarousel ol .active {
    background-color: transparent;
}

#mainCarousel ol .active::after {
    height: 12px;
    width: 12px;

    position: absolute;
    left: 0;
    top: 0;

    border: 2px solid #FFC300;
    border-radius: 50%;
}

.carousel-item img {
    height: 100vh;
    max-height: 100vh;

    object-fit: cover;
    object-position: 100% 100%;
}

#mainCarousel figcaption {
    background-color: #FFC300;

    width: 32%;
    height: 237px; 

    position: absolute;
    right: 0;
    bottom: 0;
}

#test {
    height: 200px;
}